* {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    padding: 0;
}

h1 {
    font-family: "Playfair Display", sans-serif;
    font-size: 4em;
    font-weight: 700;
    font-style: normal;
    text-align: center;
}

ul {
    text-align:justify;
    font-size: 150%;
    list-style: none;
    padding: 0;
}

li {
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
}

.header {
    background-color: white;
    height: fit-content;
    width: 500px;
    margin: 0px auto;
    padding-inline: 10px;
    border: 2px solid black;
    box-align: center;
    box-sizing: border-box;
}

.list {
    background-color: white;
    height: fit-content;
    width: fit-content;
    margin: 10px auto;
    border: 2px;
    padding: 10px;
    box-sizing: border-box;
}

.recipe-list {
    height: fit-content;
    width: fit-content;
    border: 2px solid rgb(129, 4, 4);
    padding: 1rem;
}